CN=jakobejitblokaci.cz
PRIVKEY=/etc/nginx/certs/$CN.privkey.pem
CERT_DIR=/etc/nginx/certs
SUBJECT="/C=CZ/ST=Prague/L=Prague/O=jakobejitblokaci.cz/emailAddress=$SUBJECT_EMAIL/CN=$CN"
WEBROOT_DIR=/srv/www/$CN
DOMAINS="site=jakobejitblokaci.cz,www.jakobejitblokaci.cz"
